[2014-11-18 18:27] scollier opened #6 "Getting Started"
Would be nice to have a "getting started" from start to finish (step by step) in the README, or some other place like docs/ so people how haven't registered capabilities before know where and how to get started here.  I'd be happy to help, but unfortunately I don't know the steps myself yet.

[2014-11-18 18:53] #6 closed, assigned to nobody

[2014-11-18 18:54] whitel opened #7 "Destroy after halt does not clean up VM properly"
I think this is related to the hooking, like the hook I want is not being triggered on "destroy only".

[2014-11-18 18:55] langdon opened #8 "Vagrant up with provisioning does not get subs at the right time"
Currently, the hook for the subscribing/registering is firing after the provision step. If you don't have provisioning you won't see this problem.

[2014-12-05 22:14] purpleidea opened #9 "Analysis of vagrant-registration plugin"
Analysis of vagrant-registration plugin

Here's a quick analysis of this vagrant-registration plugin. I didn't look at the code very much, so most of this is based on the README, and conceptual issues as opposed to coding style.

* The idea of doing this type of work in a vagrant plugin is a good idea!

* Storing username/password in env vars is a bad idea (TM).
You are better off using the approa

[2014-12-10 14:15] goern opened #11 "plugin tries to register a box even if it is fedora based"
see https://github.com/goern/vagrant-libvirt-testing/issues/1 for a test case

[2014-12-16 22:25] #8 closed, assigned to nobody

[2014-12-18 09:01] goern opened #13 "license on rubygems.org is wrong"
on https://rubygems.org/gems/vagrant-registration license is shown to be apache2, this repository says GPL2.

[2014-12-18 11:38] #13 closed, assigned to nobody

[2015-01-07 12:14] strzibny commented on #7
Can you please elaborate?

For `halt->destroy` I get:

[code]

[2015-01-07 12:18] whitel commented on #7
Well, that is a new one. I wonder if the other fixes may have made this problem worse (although, this is actually a more useful error). @humaton thoughts? In the past, the issue was that when you issued "destroy" it appear to succeed but the vm would not actually be removed.

[2015-01-07 12:33] strzibny opened #15 "Subscription fails with 'Server Status: Not Subscribed'"
I am getting the following on the first `vagrant up`:

[code]

It eventually says _Server Status: Not Subscribed_ and fails. Not sure why it happens to me. Anyone else came across this?

Edit: the second attemp usually passes.

[2015-01-07 14:11] strzibny commented on #7
Yep.

@humaton working on this one? or should I look?

[2015-01-07 14:13] humaton commented on #7
@strzibny Feel free to take it I have different priorities right now

[2015-01-08 11:18] strzibny commented on #7
So apparantly it wasn't problem of hooks. If you ask the machine on the `guest` Vagrant initialize the SSH connection, so if that fails, we just need to continue. PR submitted.

[2015-01-12 13:22] #7 closed

[2015-01-13 10:59] humaton commented on #15
This is because you are using employee subscription, when you switch to devel subscription this issue should disappear.

[2015-01-19 08:26] humaton commented on #11
This should be solved by https://github.com/whitel/vagrant-registration/pull/22

[2015-02-04 16:41] goern opened #24 "rhel7 system doesnt get unregistered (maybe)"
The following SSH command responded with a non-zero exit status.
 Vagrant assumes that this means the command failed!
 cmd=$(subscription-manager register --username=USERNAME_HERE --password=PASSWORD_HERE --auto-attach); if [ "$?" != "0" ]; then echo $cmd | grep 'This system is already registered' || (echo $cmd 1>&2 && exit 1) ; fi
 Stdout from the command:
 Stderr from the command:
 This system i

[2015-02-04 20:03] goern opened #25 "force registration"
aka reregistration. In some situations it would be helpful to force a registration of a VM.

[2015-02-05 17:41] humaton commented on #25
can you elaborate on this please?

are you suggesting something like vagrant redhat-register <machine> ?

[2015-02-06 09:20] goern commented on #25
ja, that is one way to implement it, or config.registration.always_force = true with the Vagrantfile. What I see is VMs with a subscription status of 'unknown' (that may be due to network problems or...) so I want that VM to execute the subscription again.

Second thing is unregistration, what it I remove a VM by hand (virt-manager), could Vagrant clean up all the registrations it has done in the

[2015-02-09 10:09] #25 closed

[2015-03-05 15:36] #9 closed

[2015-03-09 17:44] #24 closed

[2015-03-09 17:45] #15 closed

[2015-03-09 17:46] #11 closed

[2015-03-11 17:59] lukaszachy opened #29 "RFE - support for --activationkey"
I'd like to be able to register the machine using activation key.
To be able to do so I have to be able to set ORG_KEY and ACTIVATION_KEY parameters and registration plugin should run
'sudo subscription-manager register --org=ORG_KEY --activationkey=ACTIVATION_KEY --auto-attach'

[2015-04-07 11:00] strzibny commented on #29
Done in https://github.com/projectatomic/adb-vagrant-registration/commit/50f0b3444d6ed3a126d15c4de1d274783f6b2243.

[2015-04-07 11:00] #29 closed

[2015-05-05 19:21] purpleidea opened #30 "Use registration plugin in Oh-My-Vagrant"
Finally got my recognition in https://github.com/projectatomic/adb-vagrant-registration/commit/bec4e9e694a868a5ab8a52e69e51fcd113678c8b -- I just saw this by accident today, so I guess it was rolled in quietly, but thanks to @whitel for finally doing the right thing!

In any case, now that that's out of the way, if someone is interested in patching https://github.com/purpleidea/oh-my-vagrant so it

[2015-05-23 20:24] dustymabe opened #31 "Passwords with dollar signs are improperly handled."
This plugin tries to run the subscription-manager register via the shell and it passes the username/password on the command line as arguments. If your password has a $ in it then this doesn't work as the shell tries to interpret the $ as a variable.

This may be broken for other characters other than $.

[2015-05-23 20:29] whitel opened #32 "Multiple machines require multiple creds"
While it seems to be an ok feature to allow for multiple machines to have different credentials, if there are global credentials and no per machine credentials, the global credentials should be used.

[2015-05-23 20:39] dustymabe commented on #32
Meaning.. you should be able to do this:
[code]

Rather than having to do this:
[code]

[2015-05-23 20:47] voxik commented on #31
IMO, you should use shell escapes in such case. If we escape the password for you, then it would not be possible to use env variables if somebody wants to use them for some reason (nor sure how realistic this is though).

[2015-05-23 20:59] dustymabe commented on #31
It would be odd for the user to have to shell escape his password. He would have to know the implementation details of the program to know how the password is eventually going to get used; not really something we should expect of the users.

As for environment variables, I think you are referring to if the user himself somehow injected an environment var into the vagrant vm during provisioning and

[2015-06-03 07:03] strzibny commented on #32
I actually though this works:).

[2015-06-03 07:05] humaton commented on #32
I think this was the first approach we have used before. Now it has to be defined per machine.

[2015-06-03 07:49] strzibny commented on #32
I see, that's probably the reason I though that merged Vagrantfiles don't work (https://github.com/mitchellh/vagrant/issues/5720).

[2015-06-10 10:08] strzibny commented on #32
This is fixed in https://github.com/projectatomic/adb-vagrant-registration/commit/7f81f9ff7975f93016ea57fd635de4b524e30b58, closing.

[2015-06-10 10:08] #32 closed

[2015-06-10 10:56] strzibny commented on #31
@dustymabe changed in https://github.com/projectatomic/adb-vagrant-registration/commit/07d0b66273bf76fa53143068109bc19967bee6db. Could you please try the new version (0.0.14) and tell me if this works for you?

[2015-06-10 13:18] strzibny opened #33 "Allow registration via org/activationkey instead of username/password"
`vargant-registration` with `subscription-manager` should not require `username/password` combination when used with `org/activationkey` pair.

[2015-06-10 23:43] dustymabe commented on #31
[code]

Related to 7f81f9f ?

[2015-06-11 13:27] strzibny commented on #31
@dustymabe Can you tell me more about your environment? Your Vagrantfile, host/guest systems etc?

[2015-06-11 13:31] dustymabe commented on #31
@strzibny Vagrantfile is at [1]. My environment is Fedora 21 a bit of the setup instructions that I used are at [2]. Does that answer your question?

[1] - https://github.com/whitel/summit-2015-lab-15812/blob/master/vagrant/Vagrantfile
[2] - https://github.com/whitel/summit-2015-lab-15812/blob/master/vagrant/README.md

[2015-06-11 13:44] strzibny commented on #31
@dustymabe Strange, can't reproduce ATM. I downloaded the git repo and running it with 0.0.14. I also have Fedora 21. Can you post all components versions? `ruby -v`, `rpm -q vagrant`, `vagrant plugin list`.

[2015-06-11 13:49] dustymabe commented on #31
@strzibny I powered off that computer last night and am at work right now. Will get all of this information for you and post back here tonight. Thanks for looking into this.

[2015-06-12 02:50] dustymabe commented on #31
[code]

One thing that might be of interest is that when I updated vagrant-registration I ran `vagrant plugin update` and it also updated vagrant-libvirt to 0.0.30 from 0.0.29.

[2015-06-12 09:41] strzibny commented on #31
Ok, I did a completly clean environment and can reproduce. So you are right and this needs to be fixed. Thanks a lot for spotting the error!

[2015-06-12 10:00] strzibny commented on #31
@dustymabe 0.0.15 released and 0.0.14 yanked. Now you can hopefully test this for this very issue.

[2015-06-13 17:13] dustymabe commented on #31
Works now. Thanks

[2015-06-13 17:13] #31 closed

[2015-06-13 17:14] dustymabe commented on #32
Seems to work now. Thanks

[2015-06-22 07:01] strzibny commented on #33
Should be done by https://github.com/projectatomic/adb-vagrant-registration/commit/d2bff27b36dd8c96d4deb3d7659347a86993c880.

[2015-06-22 07:01] #33 closed

[2015-08-01 08:21] JessThrysoee opened #34 "On RHEL 6.7 subscription-manager is located at /usr/sbin/subscription-manager"
[code]

Running `vagrant up --debug` shows subscription fails with:
[code]

On the system subscription-manager has these locations:
[code]

As a work-around, I can make subscription work if I symlink to the expected location:
[code]

[2015-08-03 15:14] strzibny commented on #34
This should be fixed in https://github.com/projectatomic/adb-vagrant-registration/commit/b0863fa2419686aa959c98b908b9eed422fc6ae9.

[2015-08-03 15:14] #34 closed

[2015-08-04 08:20] strzibny commented on #30
This should be an issue for Oh-My-Vagrant in its own issue tracker, not here, so closing.

[2015-08-04 08:20] #30 closed

[2015-08-17 12:37] e-minguez opened #35 "Unregister only when destroy"
Wouldn't be useful a flag that doesn't unregister the environment when you halt it, but only when you destroy it?

[2015-08-17 13:16] e-minguez opened #36 "Add "pool" support"
It would be nice to add a "pool" parameter to attach to a specific pool.

[2015-08-17 13:17] e-minguez opened #37 "Add support to enable and disable repos"
It would be nice to add support for enabling or disabling repos

[2015-09-03 10:52] strzibny commented on #35
We could probably make this optional/configurable in the Vagrantfile itself.

[2015-09-03 11:52] e-minguez commented on #35
Sure, thanks!

[2015-09-03 12:56] strzibny commented on #37
Yes, we were thinking about this one. At this moment we only support `register` subcommand or `subcription-manager` but I also see that enabling repos for provisioning would be very handy.

[2015-09-04 11:39] strzibny commented on #35
This should be done in https://github.com/projectatomic/adb-vagrant-registration/commit/2570a34cfbc34cb1cf261c26145a59e74aacbe90. I released it as `0.0.18`. If you can, help me to test it. Here is the documentation: https://github.com/projectatomic/adb-vagrant-registration#plugin-configuration.

[2015-09-04 11:39] #35 closed

[2015-10-22 16:18] whitel commented on #37
Personally, I think this is the job of config management. Once the registration happens, config management can take over and do all the things they do well. One of the reasons I originally built v-reg was because I needed to get the registration done before *any* of the provision steps, however, I never wanted to try to do all the things a provisioner does. Take a look at vagrant & ansible for som

[2015-10-22 16:21] whitel commented on #35
By way of background, the reason it unregisters on halt is because many people just halt a VM when they are done with a project. By only halting the VM they can store it off on some cold storage in the exact state it was when they last worked on the project. So, when a bug comes back, it is right there :). Leaving a VM registered in those conditions would not be cool.

[2015-11-05 10:14] epienbroek opened #38 "RFE: Add support for importing CA certificate (needed to register against Katello/Satellite6)"
I'm trying to use this plugin to allow vagrant boxes to be registered against our internal Katello server. To achieve this I added the following parameters to the Vagrantfile:
[code]

This currently fails with the following error:
[code]

Could you please add support for supplying a CA certificate or the location of the CA certificate RPM (for example http://katello.foo.bar/pub/katello-ca-consumer

[2015-11-05 13:07] hferentschik opened #39 "Credentials specified via subscriber_username and subscriber_password are silently ignored"
`config.registration.subscriber_username` and `config.registration.subscriber_password` were the configuration entries for passing subscription credentials up to version 0.0.9 of the plugin. Now it is `config.registration.username` and `config.registration.password`.

Looking at commit #573dd0d206dfacd863fc5fc00f958100dc94a4ff, it seems the intention was to still allow the old keys in order to sta

[2015-11-05 13:12] strzibny commented on #39
The design behind the whole change is that we now accept all the values of subscription manager and possibly other managers too (you can make plugins to support SUSE for instance if you want to).

[2015-11-05 13:17] hferentschik commented on #39
Sure, but coming from earlier versions of the plugin (as for example 0.0.8 which is shipped with CDK 1), there is no telling why things suddenly not work anymore. All I am saying is that one should at least check whether `config.registration.subscriber_username` was set and if so print an error/warning.

We had now several developers trying to figure out why their credentials were ignored.

[2015-11-05 13:50] hferentschik opened #40 "vagrant-registration does not work in conjunction with the vagrant-vbguest plugin"
When a user has the vbguest plugin installed the startup of the VM won't work. The vbguest plugin seems to run prior to the registration plugin and tries to run a yum command. This will lead to an error like this:

[code]
As a workaround one can set `config.vbguest.auto_update = false`.

I don't know whether there is a way to ensure a specific order in plugin execution, but it might be at least wo

[2015-11-05 14:24] strzibny commented on #39
@hferentschik Understand, I changed in quite a while ago when I treated the plugin as alpha quality. Now many versions later seems strange to issue a warning like this. I will see if anyone else has an opinion on this.

[2015-11-05 14:27] strzibny commented on #40
Good point, I will look at this.

[2015-11-05 14:39] maxandersen commented on #39
+1 on this or at least make the error handling state what is missing. The error is really weird and hard to debug.

[2015-11-05 15:45] hferentschik commented on #39
Yes and no. It is all about expectations. I understand that there are a quite a few versions between 0.0.8 and 0.0.19, but for me this are micro version changes which I would expect to be backwards compatible. But I guess I am biased and always expect some form of semantic versioning - http://semver.org/

But even without semantic versioning, people might be "worried" by something like '0.0.x'. It

[2015-11-06 09:58] strzibny commented on #39
Actually there is an internal support for what fields are required and if there are not filled in vagrant-registration offers to enter them manually during vagrant up, it just does not tell you used wrong ones. Perhaps it would be a nice addition to support it generally (not just for this use case). I will have a look.

That's why I kept using it, but its true that it is matured enough. I might tr

[2015-11-06 11:55] hferentschik commented on #39
Cool

+1

[2015-11-06 15:55] strzibny commented on #39
@hferentschik

I implemented something like the following locally:

[code]

Would that work?

[2015-11-09 08:54] hferentschik commented on #39
Definitely goes into the right direction :-)

I am wondering whether it should be

[code]
or

[code]

The former would be applicable if you know all properties of the various managers in advance (which you might not) and in the latter 'current' sounds imo better than 'for a given'. If the currently used manager (eg RHEL) could be named would help as well.

Either way, I would start with this line:

[2015-11-09 09:27] strzibny commented on #39
The thing is that `current` means default `subscription-manager` but we are referring to user specified manager. `any known` is not true either. Your suggested lines would be misleading given a current implementation. I included `for a given manager` because the option might be supported in other managers, just not the one in use.

It might be better to actually print all supported options directl

[2015-11-09 09:51] strzibny commented on #38
Would the following work?
[code]
Certificate would be then copying to the guest before attempting to register.

Is there somewhere Katello's ca consumer RPM? So I can check what it contains?

[2015-11-09 10:12] epienbroek commented on #38
The Katello CA RPM contains just one file, /etc/rhsm/ca/katello-server-ca.pem. This CA file alone is also published by default on the katello server at http://katello.foo.bar/pub/katello-server-ca.crt.

It doesn't matter to me whether the vagrant-registration configuration points to the location of the RPM (local/remote) or the location of the CA file (local/remote). Either way is sufficient for m

[2015-11-09 11:02] strzibny commented on #39
Okay, I changed it to:

[code]

[2015-11-09 11:28] #39 closed

[2015-11-09 11:46] strzibny commented on #38
Just to confirm, is the `/etc/rhsm/ca/katello-server-ca.pem` needed? If yes, we would have to let people specify the CA cert destination.

[2015-11-09 12:20] epienbroek commented on #38
The default subscription-manager configuration contains the parameter ```ca_cert_dir = /etc/rhsm/ca/``` so I would expect that it automatically processes all files in this folder.

To confirm this I just tried to put the Katello CA certificate in a file named /etc/rhsm/foo.pem (instead of installing the Katello CA RPM) and execute subscription-manager using strace:
[code]
As can be seen in this ou

[2015-11-09 13:36] strzibny commented on #38
I would like you to test my changes in https://github.com/projectatomic/adb-vagrant-registration/pull/42

You can build and install this plugin with:
[code]

Then I will be able to merge it. Thanks a lot.

[2015-11-09 15:21] hferentschik commented on #39
Looking good. I think this gives enough context information to debug problems. Thanks.

that would indeed be nice

[2015-11-09 18:02] epienbroek commented on #38
Thanks for implementing this request! I just tried the PR and can confirm that it works.
There's only one minor gotcha: the filename of the CA certificate must end with the extension '.pem' otherwise subscription-manager silently ignores the file. But other than that it works great!

Here the vagrant output:
[code]

and inside the guest:
[code]

[2015-11-09 18:27] strzibny commented on #38
Yes, I know. But I decided to keep the original name that people will use rather then renaming it. Perhaps there could be one more warning that the file would be ignored. Good idea. Thanks for testing.

[2015-11-10 09:37] strzibny commented on #38
In the end I decided that if the file does not end with '.pem' extension, this extension is automatically added. It's now merged in master and I will release 1.0 soon.

[2015-11-11 17:16] strzibny commented on #40
Just as a reference, this is a Stack Overflow question:
http://stackoverflow.com/questions/31610801/how-can-i-define-the-run-order-of-vagrant-middleware-plugins

Thinking about it there is probably no way for vagrant-registration to make the vbguest plugin run later. We use hooks to run after `:machine_action_up` or `:machine_action_provision` which is the soonest we are ready to run subscription-

[2015-11-18 14:51] epienbroek commented on #38
During testing I've found out that an additional change is needed. When trying to use yum after the registration is done yum currently assumes that the CA certificate for the automatically configured yum repositories is /etc/rhsm/ca/redhat-uep.pem.This is not the case when registering against a Katello/Satellite 6 environment and results in errors like:
[code]

The parameter repo_ca_cert in /etc/r

[2015-11-18 15:53] strzibny commented on #38
So you believe the best way is to always make sure that `repo_ca_cert` is set to our expected path in `/etc/rhsm/rhsm.conf`?

[2015-11-18 19:18] epienbroek commented on #38
Correct
This is also what the Katello CA RPM does using the following RPM %post script:
[code]

[2015-11-19 10:49] optak opened #43 "incomplete tips for configutration in readme"
There is a lot of useful parts of code for configuration in readme, but none of them can work outside of this block:
[code]
This should be clearly documented

[2015-11-19 10:53] optak opened #44 "User should have more than one try to fill username and password"
If I use registration plugin without saved ceredentials (in Vagrantfile), I have just one try to fill username and password correctly and if I make error, I have to do "vagrant halt && vagrant up".
It would be nice if this plugin support one of this options:
1) allow for example 3 attempts to fill credentials
2) give a hint how to do it manually after "vagrant ssh"

[2015-11-19 13:53] #43 closed

[2015-11-20 12:38] strzibny commented on #38
@epienbroek Can you try the following branch? https://github.com/projectatomic/adb-vagrant-registration/tree/repo_ca_cert-option

[2015-11-26 08:37] strzibny commented on #38
@epienbroek do you have some time to test if the change I made is enough? I tested that it properly changes the option but I would like to confirm that it works for you before I publish a revision. Thanks.

[2015-11-26 10:07] epienbroek commented on #38
Thanks for the fix. I just tested it and indeed resolves the issue:
[code]

[code]

[2015-11-26 10:54] strzibny commented on #38
This is now released as 1.0.1: https://github.com/projectatomic/adb-vagrant-registration/releases/tag/v1.0.1

[2015-11-26 10:54] #38 closed

[2015-11-26 13:12] strzibny commented on #44
I think it would complicate the current codebase for something that is not used so often, but perhaps we should offer `vagrant (un)register` commands that can be ran anytime user wants. Running them could be then a 'hint' you are talking about.

[2015-11-29 03:12] jmmills commented on #36
+1

[2015-12-01 12:00] hferentschik opened #47 "If an error occurs during registration the subscription password is printed clear text"
I got the following error message:

[code]

Funny enough the username and password were actually correct, so registration must have failed due to another error.

[2015-12-03 13:22] strzibny commented on #47
Error you are facing is directly from `subscription-manager`, vagrant-registration does nothing with it.

Otherwise I know about that. I agree that this would be nice to fix.

[2015-12-04 11:03] strzibny commented on #40
This is now implemented by https://github.com/projectatomic/adb-vagrant-registration/pull/46.

[2015-12-07 21:58] optak opened #48 "vagrant crash without credentials in variables"
If plugin is configured to expect username and password from environment in some variables, (almost) every vagrant command crashes with ruby syntax error.
In this case It can fixed by providing such variables or reconfiguring plugin.
Plugin should check if variables are set and are sane (no syntax error).
I can see no reason to strictly require passing RHN credentials for commands like "vagrant st

[2015-12-09 09:59] hferentschik commented on #47
Do you know where one would report this then?

[2015-12-09 10:19] strzibny commented on #47
@hferentschik Red Hat's Bugzilla and subscription-manager component. But first log in to the VM and try calling subscription-manager manually...

[2015-12-10 16:13] strzibny commented on #48
This should now be fixed by https://github.com/pvalena/adb-vagrant-registration/commit/5f544e247391ba776d987d6c6029a7723a107189.

[2015-12-10 16:13] #48 closed

[2015-12-10 16:14] strzibny commented on #47
Fixed in https://github.com/projectatomic/adb-vagrant-registration/pull/50/commits.

[2015-12-10 16:14] #47 closed

[2015-12-10 21:37] rctrh opened #52 "Password echo to console under Cygwin MinTTY.(Windows)"
Under a Cygwin installation on Windows (the terminal window is Mintty, running bash by default), the password is echoed. There is a message about fixing your stdin.

It seems like something isn't quite working right.  The terminal is functional enough that other programs like ssh (openssh) for example, doesn't have a problem changing the terminal settings to disable echo.

I'm not sure where to st

[2015-12-14 15:37] strzibny commented on #52
Can you include the plugin version used and some steps for setting this environment on Windows?

[2015-12-14 17:20] rctrh commented on #52
Registration version 1.0.1, Cygwin MinTTY 1.1.3, Bash 4.1.10, Windows 7/64 bit.
Box: rhel-cdk-kubernetes-7.2-6.x86_64.vagrant-virtualbox.box  (cdkv2 beta 3)

[code]

[2015-12-14 17:27] rctrh commented on #52
Here's the output from `vagrant up`:

[code]

Note: I didn't hit enter twice, it printed the password prompt, then the error about stdin, then the password prompt again.

[2015-12-18 04:24] LalatenduMohanty opened #56 "The plugin should have Red Hat reference in its name"
May be "vagrant-rsm-registration"  (rsm = Red Hat subscription manager)
OR "vagrant-redhat-registration"

[2015-12-18 04:46] #56 closed

[2015-12-28 10:33] mattpollard opened #57 "`vagrant destroy` not triggering subscription deactivation and removal"
Hi! I'm not sure if this is an appropriate channel for reporting a problem, but perhaps someone will see it and have an idea about what's going wrong.

For some reason, `destroy` with either `kitchen` or `vagrant` is no longer properly unsubscribing and deregistering Red Hat instances for us. I _think_ it was working prior to Saturday, December 19, but then again, it might just be that I hadn't ye

[2016-01-05 15:16] iconoeugen opened #60 "rhn_register upload certificate fails"
When trying to register with a provided CA cert file, the following error is dumped on the console:

[code]

[2016-01-06 11:34] #57 closed

[2016-01-11 15:57] hferentschik commented on #40
@strzibny This should work with `vagrant-registration (1.1.0)` right? We had this issue reported - https://github.com/redhat-developer-tooling/openshift-vagrant/issues/48

[2016-01-13 12:23] strzibny commented on #40
@hferentschik yes, see CHANGELOG https://github.com/pvalena/adb-vagrant-registration/blob/master/CHANGELOG.md#110

[2016-01-17 17:03] mattpollard commented on #57
Thanks for your work on this. Looking forward to a solution to the problem, because having to manually unsubscribe and unregister is becoming a pain, and using a workaround like the vagrant-triggers plugin seems like a hack.

I'm really sorry for what's probably a dumb question: is there any way I can take advantage of your fix now? @strzibny, do you plan to do a new release of the plugin soon?

[2016-01-18 13:44] strzibny commented on #57
@mattpollard you can always build this gem with `gem build` command and install with `vagrant plugin install`.

We have enough new things/fixes for a new version, so I am up for releasing it.

[2016-01-18 13:55] mattpollard commented on #57
I'm happy to build for myself. But yeah, a release would be a huge help for us – that way, the members of my small team don't need to all build individually. We'd appreciate it!

[2016-01-21 10:07] hferentschik commented on #44
Can we add the label focus:devex to this one?

[2016-01-22 19:12] hferentschik opened #63 "Add register and unregister commands"
Currently registration is bound to life cycle events. However, the plugin should also offer explicit commands to register and un-register. Something like `vagrant registration register` and vagrant registration unregister`

[2016-01-26 11:44] #60 closed

[2016-01-26 13:00] strzibny commented on #63
It was definitely something I considered before and something I would be happy to merge.

[2016-01-26 13:03] strzibny commented on #52
Definitely something to look at. @pvalena can hopefully try to run it on Windows now or soon enough.

[2016-01-26 20:48] hferentschik commented on #63
LOL

[2016-01-28 00:02] stephenpc opened #64 "subscription-manager requires privilege escalation"
** INFO config: Evaluating registration configuration: @conf.manager**
DEBUG ssh: Checking whether SSH is ready...
DEBUG ssh: Re-using SSH connection.
 INFO ssh: SSH is ready!
DEBUG ssh: Re-using SSH connection.
 INFO ssh: Execute:  (sudo=false)
DEBUG ssh: Exit status: 0
**DEBUG guest: Searching for cap: subscription_manager**
DEBUG guest: Checking in: redhat
**DEBUG guest: Found cap: subscription

[2016-01-28 18:36] electrofelix commented on #64
I suspect your problem is https://github.com/projectatomic/adb-vagrant-registration/blob/master/plugins/guests/redhat/cap/subscription_manager.rb#L14

Since you were looking for a solution in the irc channel, I figured a temporary workaround such as the following might help if you add it to your Vagrantfile before the config block:
[code]

[2016-01-28 19:26] stephenpc commented on #64
I'm still seeing the same behavior even after adding that block. Here's my Vagrantfile...

[code]

[2016-01-28 19:42] stephenpc commented on #64
Note, the same thing happens when I put that block outside of Vagrant.configure...

[2016-01-28 19:50] electrofelix commented on #64
forgot that a require would be needed first:
```require 'vagrant-registration/plugins/guests/redhat/cap/subscription_manager'```

This definitely can be made to work, as I have some patches for the ansible provisioner for our vagrant env that I load in this way.

[2016-01-29 15:58] strzibny commented on #64
This is a regression introduced by https://github.com/projectatomic/adb-vagrant-registration/pull/59.

Fixed in https://github.com/projectatomic/adb-vagrant-registration/commit/8b516560eddfbc3ac332bbdef60ffb471c7f28b7.

[2016-01-29 15:58] #64 closed

[2016-01-29 16:16] strzibny commented on #64
This is the fixed version: https://github.com/projectatomic/adb-vagrant-registration/releases/tag/v1.2.1. Please update.

[2016-01-29 16:25] strzibny commented on #36
This was already implemented and released: https://github.com/projectatomic/adb-vagrant-registration/blob/master/CHANGELOG.md#120, closing.

[2016-01-29 16:25] #36 closed

[2016-02-01 16:53] stephenpc commented on #64
Looks like it's working. Thanks a bunch

[2016-02-03 13:26] optak commented on #52
no problem when running vagrant up under cmd.exe

[2016-02-03 16:11] rctrh commented on #52
The problem is with Cygwin.   I seem to recall, this worked fine in the CDK 1.0 timeframe.

Unless Cygwin isn't considered a valid environment, this should be considered a bug.

[2016-02-12 12:28] e-minguez opened #65 "Support proxies"
It would be nice to have parameters to specify proxies, because I've tried vagrant-proxy but it set the proxy after vagrant-registration plugin :(

[2016-03-16 13:21] hferentschik opened #69 "vagrant-registration does not work in conjunction with the vagrant-vbguest plugin"
Following up on issue #40 which does not seem to be resolved yet.

Installed vagrant-registration (1.2.1) and vagrant-vbguest (0.11.0) on OS X and Windows 10 and tried to start VM (_Vagrantfile_ as of [openshift-vagrant](https://github.com/redhat-developer-tooling/openshift-vagrant)). In both cases I get:

    $vagrant up

        Red Hat subscription credentials are needed for this VM.
        Yo

[2016-03-16 13:29] LalatenduMohanty commented on #40
Closing this as #69 is opened to track this.

[2016-03-16 13:29] #40 closed

[2016-03-16 13:32] hferentschik commented on #69
Can we add the focus:devex label and make it a blocker.

[2016-03-16 14:08] hferentschik commented on #69
Actually, while the vagrant-vbguest plugin is installed, the vagrant-registration plugin does not run at all. No matter what. Once I uninstall _vbguest_, the registration happens again.

[2016-03-18 13:58] hferentschik commented on #69
BTW, I am taking a bit of a look at this. If I find something, I'll post it here ...

[2016-03-18 14:06] jgrumboe commented on #69
Did you try it like mentioned here (http://stackoverflow.com/questions/31610801/how-can-i-define-the-run-order-of-vagrant-middleware-plugins) with the trigger.after statements?
I bet u already did but i wanted to ask :)

[2016-03-19 08:40] hferentschik commented on #69
I tried, but this is really a workaround in the Vagrantfile. I would like to fix it in the plugin. That said, I think I have a fix. I'll prepare a pull request...

[2016-03-21 11:26] hferentschik commented on #69
Here is the pull request - https://github.com/projectatomic/adb-vagrant-registration/pull/70

I added a vagrant-spec acceptance test harness with a bunch of sample acceptance test (including ones for the issue at hand). These tests should be fairly simple to run continuously against a CI server.

[2016-03-21 11:29] hferentschik opened #71 "Move non essential plugin information into wiki pages"
The _README_ is quite long and contains information which is not directly relevant for the user or developer. It should be shortened and information which is still valuable, but not suitable for the README should be moved to for example wiki pages.

[2016-03-21 17:00] pvalena commented on #69
Thank you for the PR, I am testing it now.

[2016-03-22 12:42] ricfeatherstone commented on #65
+1

[2016-03-22 22:28] hferentschik opened #72 "Invert default of config.registration.unregister_on_halt"
The default of `config.registration.unregister_on_halt` should be `false`. It makes more sense to just un-register on destroy. If one really wants to un-register on halt, one can explicitly set it.

[2016-03-22 22:36] hferentschik opened #73 "Plugin should use 'subscription-manager version' to determine whether the VM is already registered"
If it is registered, there is no need to call registration again.

[2016-03-23 13:42] pvalena commented on #73
If you set .force = false, it won't register again. The default behavior for now is to re-register if already registered to ensure the subscription is valid.

[2016-03-23 14:17] dkutalek commented on #72
One possible problem: unregister needs running machine, doesn't it?

Therefore:
 - up:      register
 - halt:    leave machine registered, but shut it down
 - destroy: will not unregister?

User would have to do up / destroy just to destroy with unregister.

[2016-03-29 09:27] hferentschik commented on #73
{quote}
If you set .force = false, it won't register again.
{quote}
I want to improve the user experience w/o adding/using additional configuration in the _Vagrantfile_

{quote}
The default behavior for now is to re-register if already registered to ensure the subscription is valid.
{quote}
The problem is that registration takes a very long time. If we can find a faster way to verify that a VM is

[2016-03-29 19:41] dustymabe opened #74 "Shouldn't try to register CentOS Atomic Host"
It seems when I try to bring up a CentOS Atomic host ([link](https://atlas.hashicorp.com/centos/boxes/atomic-host)) and I have the vagrant-registration plugin installed then I get prompted to register the machine. We probably need to handle this better:

[code]

Versions: I really don't know what versions of software are being used. I have them installed in the system but they are also in the vagr

[2016-03-30 11:31] pvalena commented on #73
Yes, i think there can be some general enhancement in way we work with subscription-manager. I will check with subscription-manager maintainers.

It will not affect current (default) behavior, as it will register anyway.

[2016-03-30 11:55] pvalena commented on #71
Yes, the think the Usage section could be split into some basic usage, which would stay in README, and extended usage, which would be in a separate document (or wiki page).

[2016-03-30 12:06] hferentschik commented on #73
Maybe it does not have to. We introduce a validity re-check interval. Just  as an example. Bottom line, right now subscription is very slow, probably one of the biggest time consumers in a 'vagrant up'. Also, for most users, there is no reason why one would un-register and register on each up/halt cycle.

There are already several options which control the registration behavior, but I believe they

[2016-03-30 12:07] hferentschik commented on #73
See also https://github.com/projectatomic/adb-vagrant-registration/issues/72

[2016-04-07 07:28] mmalina opened #75 "No registration happens on vagrant up after host reboot"
When you have a running vagrant box (cdk) and then you restart your machine, your vagrant box will appear in a strange state.
In my case it will be aborted:

$ vagrant status
Current machine states:
default aborted (virtualbox)

This is because apparently when I go for shutdown in OS X, virtualbox will simply kill the VMs.

When I then do "vagrant up", cdk starts again, but there will be no regist

[2016-04-08 18:53] hferentschik commented on #75
See also - https://github.com/mitchellh/vagrant/issues/495. It seems just rebooting the machine without halting the VM via Vagrant will indeed put the VM into an inconsistent state. That's because in this case VirtualBox will "shut down" the VM and put it into the "aborted" state. This state in turn is then not managed by Vagrant once you start your machine again. Hard to tell whether there is rea

[2016-04-11 12:09] pavanbhat21 opened #76 "Interrupt during registration hangs"
### Interrupt vagrant up, ctrl+C while running "vagrant up"

## If interrupt while it asks for username during registration, It just hangs there..
----------------------------------------------------------------------------------------------------------------
[pavan@dhcp35-202 rhel-ose]$ vagrant up
Bringing machine 'default' up with 'libvirt' provider...
==> default: Creating image (snapshot of ba

[2016-04-14 11:29] pavanbhat21 opened #77 "Vagrany registration output needs to be filtered in case of blank password on Fedora 23"
If by mistake user hits enter at the password prompt i.e blank pwd, the error msg needs to be filtered and handled well. Currently, we see the getpass.py script error on the screen.
See below:

[pavan@dhcp35-202 rhel-ose]$ vagrant up
Bringing machine 'default' up with 'libvirt' provider...
==> default: Starting domain.
==> default: Waiting for domain to get an IP address...
==> default: Waiting fo

[2016-04-14 11:32] pavanbhat21 opened #78 "vagrant up has issues on Fedora on second attempt after failed registration"
For incorrect password provided during vagrant registration, it exits without proper clean up. So on subsequent "vagrant up", it directly comes up with out proper msg on the screen.

[pavan@dhcp35-202 rhel-ose]$ vagrant up
Bringing machine 'default' up with 'libvirt' provider...
==> default: Starting domain.
==> default: Waiting for domain to get an IP address...
==> default: Waiting for SSH to be

[2016-04-14 11:38] optak commented on #77
This is also relevant for windows 10, so probably not platform dependent:
[code]

[2016-05-04 03:46] naina-verma opened #79 "VM spin up with invalid/unsubscribed subscription username/password and kubernates,openshift is in stopped state"
VM spin up(vagrant up) with invalid subscription username/password and kubernates,openshift was in stopped state. No Success message after spinning up vm

There must be a handle to check for valid subscription
Either it should spin up machine with kubernates ,openshift , docker running with success message or throw error of invalid username/password  and dont spin up vm

[code]

[2016-05-04 03:56] praveenkumar commented on #79
@naina-verma which Vagrantfile you used when you tried `vagrant up` after `destroy`? Also can you please put journalctl logs after `vagrant ssh` to pastebin or here?

[2016-05-04 04:08] naina-verma commented on #79
I have used ~/cdk/components/rhel/rhel-ose/Vagrantfile  file .

[naina@dhcp35-1 rhel-ose]$ vagrant ssh
Last login: Wed May  4 00:05:34 2016 from 192.168.121.1
[vagrant@rhel-cdk ~]$ journalctl -u openshift
No journal files were found.
[vagrant@rhel-cdk ~]$ journalctl -u kubernetes
No journal files were found.
[vagrant@rhel-cdk ~]$ journalctl -u docker
No journal files were found.

[2016-05-04 04:12] praveenkumar commented on #79
@naina-verma you have to be `superuser` to get `journalctl` logs also check `systemctl status openshift` .

[2016-05-04 04:14] naina-verma commented on #79
[vagrant@rhel-cdk ~]$ sudo systemctl status openshift
● openshift.service - Docker Application Container for OpenShift
   Loaded: loaded (/usr/lib/systemd/system/openshift.service; disabled; vendor preset: disabled)
   Active: inactive (dead)
     Docs: https://docs.openshift.org/
[vagrant@rhel-cdk ~]$ sudo systemctl status kubernates
● kubernates.service
   Loaded: not-found (Reason: No such file

[2016-05-04 09:02] budhrg commented on #79
@praveenkumar @LalatenduMohanty : What is the expected behavior in this scenario?
If user input invalid user name/password, `vagrant up` process exit with error message?
  or
`vagrant up` continues?

[2016-05-04 10:07] praveenkumar commented on #79
@naina-verma So I am able to reproduce it and looks like we got a  meaningful message below

[code]

And return status of vagrant also non-zero

[code]

Now since it's already exited as expected so it didn't execute any provision script which comes after registration which is why required service in not active/running. (And as I said it's expected).

[2016-05-04 10:08] praveenkumar commented on #79
Yes, this is expected.

[2016-05-04 10:31] LalatenduMohanty commented on #79
But if you skip the registration process, you should be able to get a working openshift or K8s.

[2016-05-04 10:33] budhrg commented on #79
@praveenkumar @navidshaikh @LalatenduMohanty This I feel we need to change the behavior of this scenario.

I propose following (for CDK only):
1. vagrant up
2. User entered invalid username/password
3. Vagrant stopped with message as in the issue description:
[code]
4. User could able to do `vagrant ssh`. Its a default vagrant behavior.
5. `vagrant service-manager env` should ouput as:
[code]
Note

[2016-05-04 10:54] praveenkumar commented on #79
This is already current behavior except `docker` service which enable by default and it should be that way.

[2016-05-04 11:59] naina-verma commented on #79
@praveenkumar
my opinion  is if user entered invalid username/password , it should throw message that "Invalid username/password ,
Press Enter to continue without Subscription :  "
What i feel rather than giving user a stopped openshift+kubernates handle this event .

In current scenario , user got the Spin VM but , did not get the notification message on console that vagrant process is completed

[2016-05-04 12:03] budhrg commented on #79
Press Enter to continue without Subscription : "
What i feel rather than giving user a stopped openshift+kubernates handle this event .

I would like to check this behavior if vagrant supports it or we can do it through `vagrant-registration`.

[2016-05-04 12:07] LalatenduMohanty commented on #79
+1, I think vagrant-registration is responsible  for the error output to the user.

[2016-05-04 12:14] praveenkumar commented on #79
Press Enter to continue without Subscription : "
What i feel rather than giving user a stopped openshift+kubernates handle this event .

@naina-verma I better go with `ssh` concept where it ask 3 times about username/password and if that went wrong then we should be prompt for *Enter to continue without Subscription*

@budhrg Ack, but again it would be nice if we give 3 chance to user for provide

[2016-05-04 12:17] budhrg opened #80 "Prompt to continue without subscription if user entered invalid username/password"
In reference to this issue #79 , the user should able to choose whether he should continue without subscription or not after entering invalid `username/password` pair 3 times.

Expected behavior:
1. User entered invalid username/password 3 times,
2. Show error message : `Invalid username/password. Continue without Subscription (y or n):`

[2016-05-04 12:18] budhrg commented on #79
Closing this issue as we are tracking it in issue https://github.com/projectatomic/adb-vagrant-registration/issues/80

[2016-05-04 12:18] #79 closed

[2016-05-05 03:47] praveenkumar commented on #80
https://github.com/projectatomic/adb-vagrant-registration/issues/44  also have same motive.

[2016-05-17 20:42] unxfrek opened #81 "registration plugin isn't ran while using OpenStack as the provider"
When using OpenStack as a provider the vagrant-registration plugin doesn't seem to run:

`$ vup --provider=openstack
Bringing machine 'jhunt-sat62' up with 'openstack' provider...
==> jhunt-sat62: Finding flavor for server...
==> jhunt-sat62: Finding image for server...
==> jhunt-sat62: Launching a server with the following settings...
==> jhunt-sat62:  -- Tenant          : GSS TAM
==> jhunt-sat62

[2016-05-18 20:49] pvalena commented on #81
Hi,
it seems there needs to be a provider-specific hook, similar to

https://github.com/projectatomic/adb-vagrant-registration/blob/eeb9d8c238de7b559cac19383c4f100b7803b84d/lib/vagrant-registration/plugin.rb#L23

Hooked ideally, right after
`==> jhunt-sat62: Machine booted and ready!`
is run.

[2016-05-23 14:15] #69 closed

[2016-05-27 11:26] LalatenduMohanty opened #82 "The prompt does not have clarity about which password the user should use for registration."
As we are encouraging users to register in http://developers.redhat.com/ and use the password for registration CDK to RHN , the prompt should clearly communicate it to the user.  In current state user might get confused which username/password he supposed to enter.
[code]

[2016-06-01 13:16] LalatenduMohanty opened #83 "Release latest version of vagrant-registration"
We have couple of commits post the last release and we should do a release with the current code.

CC @pvalena @hferentschik @budhrg

Tasks for the release

- [x] Choose a version. may be 1.3.0?

- [x] Run the tests from master on Windows
- [x] Tests on OSX
- [ ] Tests on RHEL
- [x] Tests on Fedora
- [x] Release the gem

[2016-06-01 19:46] pvalena commented on #83
Hi, I have tested current `master`[1] on Fedora 23 with libvirt provider and on OSX with virtualbox provider and vbguest additions - both are without any issues.

I will test Win7 and hopefully more tomorrow.

[1] https://github.com/projectatomic/adb-vagrant-registration/tree/c90d351b1a943a065215e763d26fcc9f5bb39a0e

[2016-06-06 06:30] praveenkumar commented on #83
@pvalena Any update you have regarding this?

[2016-06-06 18:40] pvalena commented on #83
The tests on windows are ok.

The version should be IMO 1.2.2, as there is only a fix of regression and new test suite released. No features or upgrades.

[2016-06-07 10:46] budhrg commented on #83
I have tested master branch with Fedora 23 + virtualbox + without guest edition. It is working fine. [Logs here](https://gist.github.com/budhrg/a844a7ea4e0eea11e158d2f4d36dec23).

[2016-06-07 11:24] LalatenduMohanty commented on #83
It works fine with OSX and vagrant-vbguest plugin.

[2016-06-07 11:52] naina-verma opened #85 "No success message after vagrant up for rhel-k8s-singlenode-setup"
No success message after vagrant up for rhel-k8s-singlenode-setup

Steps to reproduce
1. go to /cdk/components/rhel/misc/rhel-k8s-singlenode-setup
2. do vagrant up
3. yes to registration or no (same behavior )
Expected :it is not showing any successful configuration message for k8 single node as it give for rhel-ose
Actual result :
` default: Running provisioner: shell...
   default: Running: inli

[2016-06-07 12:01] praveenkumar commented on #85
This issue is not relevant  for this repo. Closing now.

[2016-06-07 12:01] #85 closed

[2016-06-07 12:27] pvalena commented on #65
Can you please test the issue with our newest release 1.2.2?
The hooks were changed, so the vagrant-proxy may be set up before this plugin.

[2016-06-07 13:53] #83 closed

[2016-06-10 10:17] hferentschik commented on #65
Using vagrant-proxyconf would imply that rhn_register respects HTTP_PROXY environment variables. Does it? There is no specific code in vagrant-proxyconf which would otherwise pass the right thing to rhn_register.

rhn_register does have the required options:

    Usage: rhn_register [options]

    Options:
      -v, --verbose         Show additional output
      --proxy=PROXY         Specify an ht

[2016-06-10 13:00] hferentschik commented on #65
Hmm, actually the default might be subscription-manager, but it's basically the same.

[2016-06-13 09:17] hferentschik opened #87 "Enable CI for vagrant-registration"
We can use the same infrastructure as for vagrant-service-mananager - https://ci.centos.org/job/vagrant-service-manager/

[2016-06-22 08:30] hferentschik commented on #65
Merged

[2016-06-22 08:30] #65 closed

[2016-06-22 08:51] hferentschik commented on #87
@dharmit, have you found out how to provision VirutalBox on a CentOS CI node?

[2016-06-22 08:56] dharmit commented on #87
Haven't really done that yet but shouldn't be an issue. Instead of installing libvirt and related tools, we should install Virtualbox. It's not available out-of-the-box. [This wiki](https://wiki.centos.org/HowTos/Virtualization/VirtualBox) should be helpful in setting it up on CentOS.

[2016-07-08 10:00] LalatenduMohanty opened #89 "vagrant-registration trying to register CentOS atomic host"
[code]

[2016-07-10 06:27] budhrg opened #90 "Apply locale based messaging"
Currently, plain string is passed as message for logging, info, error message etc. [Example here](https://github.com/projectatomic/adb-vagrant-registration/blob/master/lib/vagrant-registration/action/unregister_on_halt.rb#L18).

Use Vagrant way to pass messages using `locale` based which help is re-usability of these messages.

[2016-07-21 10:04] LalatenduMohanty opened #93 "Release vagrant-registration 1.2.3"
We have the PR for using the vagrant-registration with http proxy settings so we should do a bug fix release.

- Run tests on Windows
- Run tests on OS X
- Run tests on Linux

[2016-07-21 10:08] LalatenduMohanty commented on #93
cc @pvalena @hferentschik

[2016-07-22 12:40] budhrg commented on #89
@LalatenduMohanty What are the expected boxes? CDK only? I doubt this plugin can be used in RHEL system in general.

[2016-07-25 09:12] #93 closed

[2016-07-25 11:00] budhrg opened #95 "Implement style guide based test using rubocop"
[`Rubocop`](https://github.com/bbatsov/rubocop)is a great gem in Ruby for static code ananlyzer.
Adding it as part of tests would insure that code follow language code standards.

[2016-07-25 12:09] hferentschik commented on #95
+1

[2016-07-26 06:31] #90 closed

[2016-07-26 08:01] LalatenduMohanty opened #97 "Cucumber tests failing for libvirt"
Tested with CDK 2.1
`$ bundle exec rake features`

[code]

[2016-07-26 09:32] LalatenduMohanty commented on #97
Looks like I should have used `bundle exec rake features  PROVIDER=libvirt`. All tests pass now.

[code]

[2016-07-26 09:32] #97 closed

[2016-07-26 10:38] LalatenduMohanty commented on #93
Released the gem in gemo repo.

[2016-07-26 18:52] hferentschik commented on #97
https://github.com/projectatomic/adb-vagrant-registration/blob/master/README.md#development - RTFM ;-)

[2016-07-29 12:33] budhrg opened #98 ""vagrant up" exit after registration step in Windows 10 Powershell"
Hi,

The `vagrant up` process exits after registration step in Windows 10 powershell. Check logs below:
[code]

Skipping registration with `config.registration.skip = true`  works fine.

[2016-07-29 12:39] hferentschik commented on #98
I think the issue here is that the connection to the registration server failed. I am using vagrant-registration successfully with PowerShell. No issue. Just need to set the _VAGRANT_DETECTED_OS_ variable to cygwin in order to get a prompt. Or I set _$env:SUBCRIPTION_USERNAME='foo'_ (same for password).

[2016-07-29 12:56] budhrg commented on #98
Looks like a false alarm :smile: . Now able to registration.

No need of setting any environment variable though.

[2016-07-29 12:57] #98 closed

[2016-07-30 17:01] LalatenduMohanty commented on #82
vagrant-registration can support multiple subscription managers. Currently it uses only Red Hat subscription manager as the default one.
So the code needs to be modified to detect the subscription manager and then choose the statement for user.
[code]

Red Hat account
Red Hat subscriptions or subscription for Red Hat Enterprise Linux Developer Subscription or Developer Suite

[2016-08-02 09:57] tripledes opened #99 "Proxy settings are not applied to all commands"
I've checked on unregister and attach, and seems proxy settings are missing on those commands, thus vagrant fails.

I could try to produce a PR but I'd like to know what would be the preferred method for applying them, I think the easiest and cleanest would be to use ```subscription-manager config``` and store the settings so it's not needed to apply them everywhere.

Another option would be to ha

[2016-08-05 12:56] hferentschik commented on #99
I think this is error report is correct. [Here](https://github.com/projectatomic/adb-vagrant-registration/blob/master/plugins/guests/redhat/cap/subscription_manager.rb#L37) the options should be applied in a similar way to [here](https://github.com/projectatomic/adb-vagrant-registration/blob/master/plugins/guests/redhat/cap/subscription_manager.rb#L20).

This slipped through, since the un-register

[2016-08-05 13:03] hferentschik commented on #99
@tripledes can you provide a patch or maybe @budhrg can take a look at this?

[2016-08-05 14:06] tripledes commented on #99
@hferentschik I noticed it when during the process of bringing the machine up, I noticed some commands were taking way too much time or even worse, failing.

I've got a quick patch for it as I needed it to be working quickly, but I can rework it to match the current implementation:

https://github.com/tripledes/adb-vagrant-registration/commit/96d3adaa38cfabd0c39b8308fbdb350fb08cb983

I'll try to h

[2016-08-18 09:38] bexelbie opened #100 "Need MAINTAINERS file"
So we know who to thank and bug :)

[2016-08-18 09:42] bexelbie commented on #89
It should definitely only fire on RHEL.  I believe the plugin should work for any RHEL box, as I understand it.

[2016-08-18 09:43] bexelbie commented on #74
Closing as duplicate of #89 even though #89 came later.

[2016-08-18 09:43] #74 closed

[2016-08-24 07:53] jmnavarrol opened #101 "Document relevant use cases"
Hi:

I'm trying to test this plugin.  I can properly subscribe  a vagrant vm running these two commands from the vm itself:

1# rpm -Uhvv http://capsule.my.org/pub/katello-ca-consumer-latest.noarch.rpm
2# subscription-manager register --org="MyOrg" --activationkey="activation-key"

The environment is based on Red Hat Satellite 6.1 with a capsule that can be reached locally (from the vm).

After tr

[2016-08-25 05:46] budhrg commented on #100
Closed via https://github.com/projectatomic/adb-vagrant-registration/pull/103

[2016-08-25 05:46] #100 closed

[2016-08-25 20:19] bexelbie commented on #89
This does not affect ADB 2.2.2 and Centos/7, as far as I can tell.

[2016-08-29 04:55] LalatenduMohanty commented on #99
@hferentschik @tripledes I tried with and it does not work. I need to dig more
[code]

[2016-08-31 02:22] LalatenduMohanty commented on #99
The issue is `unregister` only takes 3 options as mentioned below. So we can not reuse #{configuration_to_options(machine.config.registration) directly

[code]

[2016-08-31 07:24] LalatenduMohanty commented on #99
FIxed the issue in https://github.com/LalatenduMohanty/adb-vagrant-registration/tree/fix-90. I need to add test now.

[2016-09-01 10:07] LalatenduMohanty commented on #99
Looks like I can not write an acceptance test as I can not ssh in to the box after vagrant destroy. I have sent the PR at https://github.com/projectatomic/adb-vagrant-registration/pull/104

[2016-09-01 10:15] LalatenduMohanty commented on #101
@jmnavarrol Not sure if this plugin is tested using Red hat satellite. This plugin does not need any specific configuration. You just need to have the plugin installed and during vagrant up it should ask Red Hat username and password.

[2016-09-01 10:22] LalatenduMohanty opened #105 "Acceptance tests should use "subscription-manager status""
Currently we use [1] `subscription-manager version` to check if the registration happened successfully or not.
I tested it found that it returns exist code `0` in case of unregistered machines too though the status output changes to `server type: This system is currently not registered.`

So I think we should use `subscription-manager status` as per  --help
`status         Show status information

[2016-09-01 13:05] budhrg opened #106 "Adding acceptance test for 3 attempt registration during vagrant up"
Hi,

I had sent the PR for implementation of "3 attempts registration" during vagrant up here https://github.com/projectatomic/adb-vagrant-registration/pull/102.
However, I am finding that adding acceptance test for such feature is not trivial.

Hence, I am creating this issue to discuss and implement as we get the solution.

[2016-09-01 13:50] #44 closed

[2016-09-01 14:40] LalatenduMohanty opened #107 "Registration does not happen when ENV variables for username/password on master"
Because of PR https://github.com/projectatomic/adb-vagrant-registration/pull/102, Registration does not happen when ENV variables for username/password on master branch.

Steps to reproduce:

* Build the gem from master branch
* Use ENV variables
* Do `vagrant up`

[2016-09-02 05:26] #99 closed

[2016-09-02 05:59] LalatenduMohanty opened #109 "1.3.0 release"
For https://github.com/projectatomic/adb-vagrant-registration/milestone/5

[2016-09-02 06:33] #107 closed

[2016-09-02 06:35] LalatenduMohanty commented on #109
[code]

[2016-09-02 06:35] LalatenduMohanty commented on #109
@praveenkumar Tested on Vituralbox  and I tested it on Libvirt.

[2016-09-02 06:51] #109 closed

[2016-09-06 05:50] budhrg opened #111 "Default response (yes) for registration prompt not working"
Hi,

The default response which is 'yes' for registration prompt is not working. Plugin version is `1.3.0`.
Plugin version 1.2.1 is working fine. Logs below:
[code]

[2016-09-06 09:29] #111 closed

[2016-09-07 09:37] jmnavarrol commented on #101
@LalatenduMohanty At least there seems to be scaffolding supporting it (lots of accepted parameters only make sense on a Satellite/Katello environment).

Doing that will try to contact Red Hat servers, which won't cut the cake.  I don't even have a user/password pair on Red Hat portal.

[2016-09-09 14:01] chelapurath opened #113 "Plugin does not work if Proxy has self signed SSL cerificate"
For RHEL subscription there is level of security check for SSL certificate
/etc/rhsm.conf
# Set to 1 to disable certificate validation:
insecure = 0/1
even if proxy configuration  are set via plugin, registration fails

[2016-09-15 12:55] hferentschik commented on #101
Even if the parameters suggest that it should work, it would need some testing. It might be that it does not work. @LalatenduMohanty do we have an environment to test this?

[2016-09-15 20:46] LalatenduMohanty commented on #113
@chelapurath Are you able to make it work with changing bits in  /etc/rhsm.conf?

[2016-09-16 12:43] chelapurath commented on #113
Yes, I was able to get the Registration working. It is fragile, and give me error sometimes even though the registration happened.  So I do a vagrant reload once registration is completed and thus get the rest of the configuration done.

[2016-09-20 11:18] KrE80r opened #114 "rhn_register upload certificate fail"
Looks like issue #60 resurfaced in version 1.3.0

[code]

[2016-09-20 12:14] KrE80r commented on #114
I tried editing line 84 in rhn_register.rb

Changing :
`cert_file_content = File.read(machine.config.registration.ca_cert, tmp) `
To
`cert_file_content = File.read(machine.config.registration.ca_cert)`

And it did work afterwards

[2016-09-21 03:14] #114 closed

[2016-09-22 13:45] JaredBurck commented on #113
@LalatenduMohanty @chelapurath From the CDK 2.2 Release Notes and Known Issues [1], 3.1.9. The vagrant-registration Plugin Does Not Work with Proxy and Self-Signed TLS Certificate.  This looks like the known issue you have described.

[2016-09-22 13:50] budhrg commented on #113
Yes @JaredBurck

[2016-09-27 06:52] budhrg commented on #106
Any idea @hferentschik ?

[2016-09-28 12:27] hferentschik commented on #106
@budhrg Let me look into it, but afair there was no way for user interaction in this approach. At least not out of the box. I try to have a look asap.

[2016-10-10 08:07] hferentschik opened #118 "Convert markdown documentation to asciidoc"

[2016-10-10 08:16] #118 closed

[2016-10-18 10:11] hferentschik commented on #106
@budhrg Actually I was wrong. Aruba does offer a "When/And I type ..." step which allows to provide user input. I guess this can be used. Have not tried it myself though.

See http://www.relishapp.com/cucumber/aruba/docs/command/running-an-interactive-command

[2016-10-18 10:49] budhrg commented on #106
Cool will look into it.

[2016-11-02 18:33] kinneyjb opened #120 "sed command for serverURL includes url and filepath"
While using vagrant-registration (1.3.0) to register an instance, the registration process was failing. Upon inspection of the `/etc/sysconfig/rhn/update` it was noticed that the `serverURL` was set to `serverURL=/usr/share/rhn/http://fqdn`.

 When rhn_register was manually run on the instance, I noticed that the error indicated to double check the location provided: https:///usr/share/rhn/http://

[2016-11-08 06:49] LalatenduMohanty opened #121 "Release version 1.3.1"

[2016-11-08 06:54] LalatenduMohanty commented on #120
@kinneyjb Thanks for the issue. I will try to reproduce the issue.

[2016-11-08 14:39] #121 closed

[2016-12-08 06:10] budhrg opened #123 "Vagrant suspend doesn't perform unregistration"
Hi,

I found that `vagrant suspend` doesn't perform unregistration process while `vagrant halt` and `vagrant destroy` does.

I am still wondering why unregistration is not taken care for `vagrant suspend`.

One can argue that user perform `vagrant suspend` and do `vagrant up` in short period of time.

However, one can do `vagrant destroy` even in suspended VM state.

[2017-03-17 11:53] kristvanbesien opened #124 "plugin does not correctly detect auto-attach failures..."
By default the plugin will do an autoattach. If this fails, the plugin just prompts again for a username and password, giving the wrong impression about why the registration failed.

Long version:

So when doing a "vagrant up" I get prompted for username and password, and then after a longish pause I get "Invalid username/password. Try again". I type it again, and after another pause get prompted

[2017-09-27 19:01] dflock opened #125 "Registration doesn't happen on initial up, but works on subsequent halt/up's"
When I initially run `vagrant up` a create a new box, registration doesn't happen, but if I then `vagrant halt && vagrant up` that box, unregistration & re-registration happen as expected:

## Initial vagrant up

[code]

## Subsequent halt & up

[code]

## Versions

[code]

[2017-09-28 04:20] budhrg commented on #125
@dflock , Could you paste Vagrantfile as well?

[2018-04-11 13:08] asouini opened #126 "Registration is skiped on rhel7.5 because subscription_manager_registered cap no longer works"
`subscription-manager list --consumed` no longer returns **_No consumed subscription pools to list_** in _rhel7.5_ but **_No consumed subscription pools were found_** instead. they changed the text output.

maybe try something else https://github.com/projectatomic/adb-vagrant-registration/blob/f41efa361b52368a4c2a929b48c20127fc293982/plugins/guests/redhat/cap/subscription_manager.rb#L7

replacing

[2018-04-13 18:49] Poohblah commented on #125
I'm having exactly the same issue.  Unfortunately I can only recreate in a very particular environment, specifically a Jenkins job running TestKitchen, which is making it difficult for me to isolate the issue.

Here is my environment:

[code]

And here is my Vagrantfile:

[code]

[2018-04-27 14:33] ghyde commented on #125
Could this be related to #126?

[2018-05-06 23:24] cjg23ics opened #128 "registration.name does not pass set value making box register as localhost.localdomain"
Hi all,

When using this plugin on a Virtualbox based vagrant instance, I am having issues with getting the registration.name to work correctly.  I have set this value, however, any vm registered to Satellite shows up as localhost.localdomain, which has us stepping on ourselves in a shared environment.  Any help is appreciated.

config.vm.define "sectest7", autostart: false do |sectest7|
    confi

[2018-07-24 13:01] lmayorga1980 commented on #126
@Poohblah Thank you!!!
![screenshot from 2018-07-24 09-00-42](https://user-images.githubusercontent.com/3172378/43139582-1fe2d8f4-8f20-11e8-90b9-6bdc6a54c65c.png)

[2018-09-06 04:10] jamiejackson opened #129 "Multi-Machine"
Is it possible to use different credentials for different machines in a multi-machine vagrant environment, or is it all top-level config?

[2018-09-06 15:18] jamiejackson commented on #129
I was sleep-deprived when I posted that and in retrospect, I don't personally have a use-case.

[2018-09-06 15:18] #129 closed

[2018-09-07 18:22] ansiblejunky opened #130 "unregister before confirmation of vagrant destroy"
The plugin appears to unregister the machine before the user gets prompted  to confirm whether or not we really want to destroy the machine. See the output below. This happens only when the machine is running. When it is shutdown and then destroyed it seems fine.

[code]

The plugin should never post any messages before the prompt. After confirmation, it should unregister the box.

[2018-12-27 04:17] ktreese commented on #126
Hello!  I ran into this issue recently and fortunately came across this workaround.  Are there any plans to release this fix soon?  Thanks!

[2018-12-27 04:32] Poohblah commented on #126
None that I'm aware of.  My coworkers and I have spent a little time searching for alternatives since this project seems to be abandoned and in need of some TLC, but no luck so far.  Forking sounds more and more appealing every day.

Out of curiosity, do you have a link to the documentation that mentions this plugin?

[2018-12-27 04:39] ktreese commented on #126
Here it is.

[CHAPTER 4. USING VAGRANT CONTAINER DEVELOPMENT KIT PLUGINS](https://access.redhat.com/documentation/en-us/red_hat_container_development_kit/2.1/html/getting_started_guide/using-vagrant-plugins#using_the_vagrant_registration_plugin)

Also, at the bottom of that link, this project is linked to in the Additional Resources section.

[2018-12-27 09:17] voxik commented on #126
@whitel, @LalatenduMohanty Shouldn't this project be maintained, officially deprecated or transferred to somebody, who will take care?

[2018-12-27 14:59] LalatenduMohanty commented on #126
@voxik I am not able to maintain this project due to lack of time and willing to transfer the ownership to anyone willing to maintain this.

[2018-12-27 15:02] LalatenduMohanty opened #131 "Looking for maintainers for this project"
Due to change in my current work and lack of time, I am not able to maintain this project. So I am willing to give the commit access to anyone who can maintain this project. Please add a comment if you are willing to maintain this project.

[2018-12-27 15:40] ktreese commented on #131
I am not a ruby developer, but if nobody volunteers, I'll take it as it would be a shame to have this abandoned.

[2019-01-08 14:47] seth-reeser commented on #131
Hi @LalatenduMohanty, I'm with DevOps Group and we manage several vagrant plugins now and are interested to see this project maintained. Are there any significant changes in the RHN subscription model that require rework of this plugin now or in the future that you're aware of? Thanks!

[2019-05-18 07:34] haxorof opened #133 "Registration skipped in RHEL 8"
I tried to use this plugin on a RHEL 8 and noticed that the system was not registered. The problem is with a grep that is used to determine if the subscription manager is already registered (https://github.com/projectatomic/adb-vagrant-registration/blob/master/plugins/guests/redhat/cap/subscription_manager.rb#L7).

From Vagrant debug logs:
[code]

The output seen when running this command in RHEL

[2019-05-18 09:49] haxorof commented on #133
Closing this issue because this duplicates: #126 #127 #132

[2019-05-18 09:49] #133 closed

[2019-05-18 11:06] haxorof commented on #131
Any ETA on when to expect this plugin to be handed over to new maintainers? Would have been great to get these outstanding pull requests to be merged as soon as possible.

[2019-05-22 15:52] seth-reeser commented on #131
Bump @LalatenduMohanty

[2019-05-30 19:32] whitel commented on #131
@seth-reeser as the original author of this project, I would like to see it be maintained as well. I'll try and grab @LalatenduMohanty tomorrow and see if he has any concerns.

To the best of my knowledge this should work with all current versions of sub-man (including rhel8). The biggest challenge I ran in to was identifying rpm-ostree-style systems (which you can't use yum to install on) but i t

[2019-06-03 07:38] LalatenduMohanty commented on #131
Sorry for the late reply (somehow missed  the old comments). I will be happy to handover this to @seth-reeser.

[2019-06-03 07:42] LalatenduMohanty commented on #131
@whitel Can you please give @seth-reeser write access? Looks like I do not have admin access anymore?

[2019-06-03 16:11] seth-reeser commented on #131
Thanks, guys. I'll also need push access to https://rubygems.org/gems/vagrant-registration/ my RubyGems user is https://rubygems.org/profiles/sethreeser

`gem owner vagrant-registration -a seth.reeser@devopsgroup.com`

http://guides.rubygems.org/command-reference/#gem-owner

[2019-06-03 16:30] whitel commented on #131
@seth-reeser ok, you should have an invite to the github repo and I added you as an owner to the gem. Once you confirm, please close this ticket (which will also test the perms :) )

[2019-09-16 21:57] rbywater commented on #131
@seth-reeser / @LalatenduMohanty / @whitel Just wondering if there is any update about swapping maintainership over? https://github.com/projectatomic/adb-vagrant-registration/pull/127 is quite a major showstopper and the fix in the PR works so would be really good to have an official build :)

[2019-09-17 13:15] seth-reeser commented on #131
@whitel - apologies for the delay - busy summer :) I have appropriate RubyGems access, but it looks like I need elevated GitHub perms. I'm unable to close this nor have write access.

[2019-10-10 15:59] #37 closed

[2019-12-13 11:54] devantoine commented on #131
@LalatenduMohanty can we have an update on this please?
This project needs a maintainer and there's already some useful PR waiting to be merged.

[2019-12-13 14:50] whitel commented on #131
OK, invited @seth-reeser ; sorry for the lag, trying to get permissions sorted out.

[2019-12-13 15:01] LalatenduMohanty commented on #131
@seth-reeser Let us know if you have the access now. Sorry for the delay. I would be happy to add more maintainers  for this project. So let us know.

[2019-12-13 15:14] seth-reeser commented on #131
All set! Thanks all! We'll dig into the pending pull requests and get moving.

[2019-12-13 21:04] #131 closed

[2019-12-17 20:03] #126 closed

[2020-02-13 22:01] rbywater commented on #128
This is a "bug" in subscription-manager whereby the value pased as `--name` is ignored. Unfortunately RedHat aren't going to be fixing it by the sound of it. See https://bugzilla.redhat.com/show_bug.cgi?id=1344011

[2020-02-13 22:05] rbywater opened #134 "Release 1.3.2 Gem Missing Change"
The Gem that is created as Release 1.3.2 appears to be missing the change that was made in https://github.com/projectatomic/adb-vagrant-registration/pull/127 and therefore release 1.3.2 still has issue https://github.com/projectatomic/adb-vagrant-registration/issues/126.

Source downloads for the release do have the fix.

[2020-03-12 10:02] LalatenduMohanty opened #135 "Upgrade rake to version 12.3.3 or later because of CVE 2020-8130"
![rake_alert](https://user-images.githubusercontent.com/3125299/76509754-8647ea80-6476-11ea-8351-0d2d7a91f1fa.png)

https://nvd.nist.gov/vuln/detail/CVE-2020-8130

[2020-03-21 18:38] #135 closed

[2020-03-21 18:39] #134 closed

[2021-06-08 01:45] nebffa commented on #113
This plugin gets in early and we can't run a script before it to set the insecure setting, or add our own certificates to the root store. It would probably be easiest if it supported setting the insecure flag for the subscription manager.

[2021-12-30 12:53] mohd-akram opened #136 "Registration happens before hostname is set"
This causes VMs to all be registered with the same default box hostname.

[2022-06-14 21:59] kayari75 commented on #136
Same problem for me.